<h1>Mes Listes</h1>
  <ul><% @lists.each do |list| %></ul>
    <%= link_to list_path(list) do %>
    <li><%= list.name %></li>
     <% end %>
  <% end %>
<%= link_to 'Créer une nouvelle liste', new_list_path %>
